.root{
    -fx-background-color: #e6ccff;
    -fx-font-size: 16px;
    -fx-font-family: 'Nunito Sans', sans-serif;
}

.label{
    -fx-font-size: 18px;
    -fx-font-family: 'Titillium Web', sans-serif;
    -fx-text-transform: uppercase;
    -fx-padding: 10px, 10px, 10px, 10px;
}

.taskCol{
    -fx-prompt
    -fx-min-width: 150px;
}

.dayCol{
    -fx-min-width: 70px;
}

.timeCol{
    -fx-min-width: 60px;
}

.deadlineCol{
    -fx-min-width: 60px;
}

.mentorCol{
    -fx-min-width: 120px;
}

.descriptionCol{
    -fx-min-width: 200px;
}

.hbox{
    -fx-padding: 10px, 10px, 10px, 10px;
    -fx-spacing: 8px;
    -fx-margin: 20px 0;
}

.addToDo{
    -fx-pref-width: 150px;
}

.addDay{
    -fx-pref-width: 75px;
}

.addTime{
    -fx-pref-width: 65px;
}

.addDeadline{
    -fx-pref-width: 65px;
}

.addMentor{
    -fx-pref-width: 120px;
}

.addDescription{
    -fx-pref-width: 150px;
}

.primaryStage{
    -fx-width: 750px;
    -fx-width: 500px;
}

.vbox{
    -fx-spacing: 10px;
}

.button{
    -fx-background-color: #b366ff;
    -fx-color: #fff;
}